//Custom font Meiryo
@font-face {
    font-family: 'Meiryo';
    src: url('../../public/assets/font/Meiryo-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Meiryo';
    src: url('../../public/assets/font/Meiryo-Italic-02.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Meiryo';
    src: url('../../public/assets/font/MeiryoUI-Bold-03.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Meiryo';
    src: url('../../public/assets/font/MeiryoUI-BoldItalic-04.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 0px auto;
  font-family: 'Meiryo'
}

.styleUp {
  animation: background-fade 2s forwards;
}

@keyframes background-fade {
  99.9% {
      background: #01a77a;
      color: #ffffff;

  }    100% {
      background:#ffffff;
  }
}

.styleDown {
  animation: background-fade-down 2s forwards;
}

@keyframes background-fade-down {
  99.9% {
      background: rgb(255, 43, 43);
      color: #ffffff;
  }    100% {
      background:#ffffff;
  }
}

@import './variables';
@import '../styles/auth/index';
@import '../styles/components/_index.scss';
