.auth-page {
    .auth-login-page {
        padding-top: 30px;
        .login {
            width: 600px;
            margin: 0px auto;
            text-align: center;

            button {
                &.btn-login {
                    padding: 15px 40px;
                }
            }
        }
    }
}
